
/* Fonts start*/
@font-face {
    font-family: 'Stick Figures';
    src: url('../assets/fonts/StickFigures-ppeO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mixed Silhouettes';
    src: url('../assets/fonts/MixedSilhouettesFive-A1KD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zyxox';
    src: url('../assets/fonts/Zyxox-lPOZ.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../assets/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 700;
    font-style: normal;
}


@font-face {
    font-family: 'Patrick Hand';
    src: url('../assets/fonts/PatrickHand-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-style: normal;
    min-height: 100vh;
}

/* Fonts end*/

/* Colour start*/

:root {
    --gallows-stroke: #000000;
    --gallows-fill: #FFFEFE;
    --hangman-stroke: #909090;
    --hangman-fill: #FFFFFF;
    --key-color: #FFFFFF;
    --key-backgroud: #303097;
    --incorrect-color: red;
}

/* Colour end*/

/* Common start*/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    /*background: var(--static-white);*/
}

*, *::before, *::after {
    box-sizing: inherit;
    border: none;
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
}

.wrapper {
    max-width: 1440px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
    gap: 4rem;
    margin: 0 auto;
    padding: 2rem;

    @media  (width < 1440px) {
        gap: 4.44vw;
        padding: 2.5vw;
    }
    @media (width < 768px) and (orientation: portrait) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @media  (height < 650px) {
        padding: 0.5vh;
        justify-content: center;
        align-items: center;
    }

}
/* Common end*/

/* Gallow start*/
.hangman {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    @media (width < 768px) and (orientation: portrait) {
        width: 90vw;
        align-items: center;
    }
    @media  (height < 650px) {
        align-items: center;
    }

}

.gallows-frame {
    width: min(25.69vw, 370px);
    height: min(41.6vw,600px);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    @media  (height < 650px) {
        height: calc(min(80vh,min(41.6vw,600px)));
    }
}

.gallows {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: min(25.69vw, 370px);
    display: inline-block;
    height: min(41.6vw,600px);
    @media  (height < 650px) {
        height: calc(min(80vh,min(41.6vw,600px)));
    }
}

.gallows > * {
    border: min(0.21vw, 3px) solid var(--gallows-fill);
    border-radius: min(0.35vw, 5px);
    background: var(--gallows-stroke);
    transform-origin: top left;
}

.gallows__vertical {
    position: absolute;
    z-index: 4;
    width: min(2.92vw, 42px);
    height: min(40.35vw, 581px, 78vh);
    top: 0;
    left: min(2.29vw, 33px);
}

.gallows__horizontal {
    position: absolute;
    z-index: 5;
    width: min(2.92vw, 42px);
    height: min(24.51vw, 353px);
    transform: rotate(-90deg);
    top: min(5.21vw, 75px);
    left: 0;
}

.gallows__between {
    width: min(2.92vw, 42px);
    height: min(14.03vw, 202px);
    transform: rotate(45deg);
    position: absolute;
    z-index: 3;
    top: min(2.29vw, 33px);
    left: min(12.29vw, 177px);
}

.gallows__hanger {
    position: absolute;
    width: min(0.69vw, 10px);
    height: min(5.14vw, 74px, 10vh);
    border: none;
    top: min(5.21vw, 75px);
    left: min(20.69vw, 298px);
}
.hangman-frame {
    position: absolute;
    z-index: 10;
    top: calc(min(5.21vw, 75px) + min(5.14vw, 74px, 10vh));
    left: min(20.69vw, 298px);
    fill: var(--hangman-fill);
    stroke: var(--hangman-stroke);
    background: var(--hangman-stroke);
}
.hangman-frame > * {
    transition: fill 0.3s ease-out, background 0.3s ease-out;
    transform-origin: top left;
}
.head {
    position: absolute;
    top: 0;
    left: calc(min(0.35vw, 5px) - (min(7vw, 101px, 20vh) / 2));
    border-radius: 100%;
    stroke-width: min(0.35vw, 5px);
    width: min(7vw, 101px, 20vh);
    height: min(7vw, 101px, 20vh);
}
.body {
    position: absolute;
    top: min(7vw, 101px, 20vh);
    left: 0;
    width: min(0.35vw, 5px);
    height: min(9.1vw, 131px, 15vh);
    background: inherit;

}
.hand-left {
    position: absolute;
    top: min(7vw, 101px, 20vh);
    left: 0;
    width: min(0.35vw, 5px);
    height: min(6.94vw, 100px, 11vh);
    transform: rotate(40deg);
    background: inherit;

}
.hand-right {
    position: absolute;
    top: min(7vw, 101px, 20vh);
    left: 0;
    width: min(0.35vw, 5px);
    height: min(6.94vw, 100px, 11vh);
    transform: rotate(-40deg);
    background: inherit;

}
.leg-left {
    position: absolute;
    top: calc(min(7vw, 101px, 20vh) + min(9.1vw, 131px, 15vh));
    left: 0;
    width: min(0.35vw, 5px);
    height: min(6.94vw, 100px, 11vh);
    transform: rotate(40deg);
    background: inherit;

}
.leg-right {
    position: absolute;
    top: calc(min(7vw, 101px, 20vh) + min(9.1vw, 131px, 15vh));
    left: 0;
    width: min(0.35vw, 5px);
    height: min(6.94vw, 100px, 11vh);
    transform: rotate(-40deg);
    background: inherit;
}

.hangman-name {
    width: 100%;
    text-align: center;
    line-height: 1;
    font-family: "Patrick Hand", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: clamp(2rem, 3.44rem, 55px);
    letter-spacing: 0.19rem; /*3px;*/
    border-top: 5px solid;
    @media (width < 1440px) {
        font-size: clamp(2.4rem, calc(min(3.82vh,3.82vw)), 3.44rem);
        letter-spacing: clamp(0.13rem, 0.21vw, 0.19rem);
    }
    @media  (height < 400px) {
        font-size: clamp(1.7rem, calc(min(3.82vh,3.82vw)), 3.44rem);
    }
}
/* Gallow end*/

/* Game start*/
.game {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.56rem;/*25px;*/

    @media  (width < 1440px) {
        gap: clamp(1.5rem, calc(min(2.22vh,2.22vw)), 2rem);
        font-size: clamp(1.25rem, calc(min(1.7vh,1.7vw)), 1.56rem);
    }
    @media  (width < 360px) {
        gap: clamp(0.5rem, calc(min(2.22vh,2.22vw)), 1.5rem);
        font-size: clamp(1rem, calc(min(1.7vh,1.7vw)), 1.25rem);
    }
}
.game-words {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    font-size: 3.75rem;/*60px;*/
    text-transform: uppercase;

    @media  (width < 1440px) {
        gap: 0.83vw;
        font-size: clamp(1.2rem, calc(min(7vh,3.5vw)), 3.75rem);
    }
    @media  (width < 768px) {
        font-size: clamp(1rem, calc(min(6vh,3vw)), 3.75rem);
    }
    @media  (width < 360px) {
        font-size: clamp(1rem, calc(min(6vh,3vw)), 1.7rem);
    }
    @media  (height < 550px) {
        font-size: clamp(1rem, calc(min(3vh,3vw)), 1.7rem);
    }
}

.game-hint {
    text-align: center;

}

.game-guess {
    text-align: center;
}

.game-guess__score-wrapper {
    display: inline-block;
    color: var(--incorrect-color);
    text-align: center;
}

.game-keys {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    @media  (768px <= width < 1440px) {
        margin-top: calc(min(3vh,3vw));
        gap: calc(min(0.85vh,0.85vw));
    }
    @media  (width < 768px) {
        margin-top: calc(min(2vh,2vw));
        gap: calc(min(1vh,1vw));
    }
}
.game-keys__key {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--key-color);
    background: var(--key-backgroud);
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.2s ease;
    @media  (768px <= width < 1440px) {
        width: clamp(3rem, calc(min(7vh,10vw)), 78px);
        height: clamp(3rem, calc(min(7vh,10vw)), 78px);
        font-size: clamp(1.6rem, 1.6rem, 30px);
    }
    @media  (width < 768px) {
        width: clamp(1.6rem, calc(min(4vh,8vw)), 3rem);
        height: clamp(1.6rem, calc(min(4vh,8vw)), 3rem);
        font-size: clamp(0.5rem, calc(min(3.5vh,5vw)), 1.8rem);
    }
    @media  (height < 550px) {
        width: clamp(1.6rem, calc(min(8vh,10vw)), 3rem);
        height: clamp(1.6rem, calc(min(8vh,10vw)), 3rem);
        font-size: clamp(0.5rem, calc(min(5vh,7vw)), 1.8rem);
    }
}
.game-keys__key:hover {
    background: #0056b3;
    color: #e0e0e0;
    transform: scale(1.1);
}

.game-keys__key:active {
    background: #003f7f;
    transform: scale(1);
}
/* Game end*/