
/* Fonts start*/
@font-face {
    font-family: 'Stick Figures';
    src: url('../assets/fonts/StickFigures-ppeO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mixed Silhouettes';
    src: url('../assets/fonts/MixedSilhouettesFive-A1KD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zyxox';
    src: url('../assets/fonts/Zyxox-lPOZ.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../assets/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 700;
    font-style: normal;
}


@font-face {
    font-family: 'Patrick Hand';
    src: url('../assets/fonts/PatrickHand-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-style: normal;
    min-height: 100vh;
}

/* Fonts end*/

/* Colour start*/

:root {
    --gallows-stroke: #000000;
    --gallows-fill: #FFFEFE;
    --hangman-stroke: #909090;
    --hangman-fill: #FFFFFF;
    --key-color: #FFFFFF;
    --key-backgroud: #303097;
    --incorrect-color: red;
}

/* Colour end*/

/* Common start*/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    /*background: var(--static-white);*/
}

*, *::before, *::after {
    box-sizing: inherit;
    border: none;
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
}

.wrapper {
    max-width: 1440px;
    min-height: 380px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    gap: 4rem;
    margin: 0 auto;
    padding: 2rem;

    @media  (width < 1440px) {
        gap: 4.44vw;
        padding: 2.5vw;
    }
    @media (max-width: 768px) and (orientation: portrait), (pointer: fine) {
        flex-direction: column;
    }

}
/* Common end*/

/* Gallow start*/
.hangman {
    max-width: 40vw;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    transition: width 0.3s ease;
    @media (width <= 1020px) {
        max-width: 80vw;
        max-height: 80vh;
        flex-shrink: 1;
        transform: scale(0.9);
    }

    @media (width <= 768px) {
        transform: scale(0.7);
        max-height: 60vh;
        max-width: 90vw;
        width: 100%;
    }
    @media (width <= 500px) {
        transform: scale(0.6);
        max-height: 55vh;
    }
    @media (width < 400px) {
        transform: scale(0.5);
        max-height: 47vh;
    }
    @media (width < 250px) {
        transform: scale(0.3);
        max-height: 25vh;
    }
}

.gallows-frame {
    height: 80%;
    position: relative;
    z-index: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallows {
    position: relative;
    z-index: 2;
    width: 100%;
    display: inline-block;
    min-height: 600px;
    overflow: visible;
    aspect-ratio: 3/4;
}

.gallows > * {
    border: 3px solid var(--gallows-fill);
    border-radius: 5px;
    background: var(--gallows-stroke);
}

.gallows__vertical {
    position: absolute;
    z-index: 4;
    width: 42px;
    height: 581px;
    top: 0;
    left: 33px;
}

.gallows__horizontal {
    position: absolute;
    z-index: 5;
    width: 42px;
    height: 353px;
    transform: rotate(-90deg);
    transform-origin: top left;
    top: 75px;
    left: 0;
}

.gallows__between {
    width: 42px;
    height: 202px;
    transform: rotate(45deg);
    transform-origin: top left;
    position: absolute;
    z-index: 3;
    top: 33px;
    left: 177px;
}

.gallows__hanger {
    position: absolute;
    width: 10px;
    height: 74px;
    border: none;
    top: 75px;
    left: 298px;
}
.hangman-frame {
    position: absolute;
    z-index: 10;
    top: 150px;
    left: 300.5px;
    fill: var(--hangman-fill);
    stroke: var(--hangman-stroke);
    background: var(--hangman-stroke);
    aspect-ratio: 3/4;

}
.hangman-frame > * {
    transition: fill 0.3s ease-out, background 0.3s ease-out;
}
.head {
    position: absolute;
    top: 0;
    left: -48px;
    border-radius: 100%;
    stroke-width: 5px;
    width: 101px;
    height: 101px;
}
.body {
    position: absolute;
    top: 101px;
    left: 0;
    width: 5px;
    height: 131px;
    background: inherit;
}
.hand-left {
    position: absolute;
    top: 101px;
    left: -33px;
    width: 5px;
    height: 100px;
    transform: rotate(40deg);
    background: inherit;

}
.hand-right {
    position: absolute;
    top: 101px;
    left: 33px;
    width: 5px;
    height: 100px;
    transform: rotate(-40deg);
    background: inherit;

}
.leg-left {
    position: absolute;
    top: 217px;
    left: -33px;
    width: 5px;
    height: 100px;
    transform: rotate(40deg);
    background: inherit;
}
.leg-right {
    position: absolute;
    top: 217px;
    left: 33px;
    width: 5px;
    height: 100px;
    transform: rotate(-40deg);
    background: inherit;
}
.hangman-name {
    width: 100%;
    text-align: center;
    line-height: 1;
    font-family: "Patrick Hand", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 3.44rem; /*55px;*/
    letter-spacing: 0.19rem; /*3px;*/
    border-top: 5px solid;
    @media (width < 1440px) {
        font-size: clamp(2.75rem, 3.82vw, 3.44rem);
        letter-spacing: clamp(0.13rem, 0.21vw, 0.19rem);
    }
}
/* Gallow end*/

/* Game start*/
.game {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.56rem;/*25px;*/

    @media  (width < 1440px) {
        gap: clamp(1.5rem, 2.22vw, 2rem);
        font-size: clamp(1.25rem, 1.7vw, 1.56rem);
    }
    @media  (width < 360px) {
        gap: clamp(0.5rem, 2.22vw, 1.5rem);
        font-size: clamp(1rem, 1.7vw, 1.25rem);
    }
}
.game-words {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    font-size: 3.75rem;/*60px;*/
    text-transform: uppercase;

    @media  (width < 1440px) {
        gap: 0.83vw;
        font-size: 4.16vw;
    }
    @media  (width < 768px) {
        font-size: clamp(1.7rem, 4vw, 3.75rem);;
    }
    @media  (width < 360px) {
        font-size: clamp(1rem, 3vw, 1.7rem);
    }
}

.game-hint {
    text-align: center;

}

.game-guess {
    text-align: center;
}

.game-guess__score-wrapper {
    display: inline-block;
    color: var(--incorrect-color);
    text-align: center;
}

.game-keys {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    @media  (768px <= width < 1440px) {
        margin-top: 3vw;
        gap: 0.85vw;
    }
    @media  (width < 768px) {
        margin-top: 2vw;
        gap: 1vw;
    }
}
.game-keys__key {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;/*80px;*/
    height: 5rem;/*80px;*/
    font-size: 1.88rem;/*30px;*/
    font-weight: normal;
    text-transform: uppercase;
    color: var(--key-color);
    background: var(--key-backgroud);
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.2s ease;
    @media  (768px <= width < 1440px) {
        width: 5.55vw;
        height: 5.55vw;
        font-size: 1.6rem;
    }
    @media  (width < 768px) {
        width: clamp(1.6rem, 5vw, 3rem);
        height: clamp(1.6rem, 5vw, 3rem);
        font-size: clamp(0.5rem, 3.8vw, 1.8rem);;
    }
}
.game-keys__key:hover {
    background: #0056b3;
    color: #e0e0e0;
    transform: scale(1.1);
}

.game-keys__key:active {
    background: #003f7f;
    transform: scale(1);
}
/* Game end*/