/* Hero start*/
.hero-section {
    position: relative;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0;
    border-radius: 20px 20px 0 0;
    padding: 60px 8px;
    width: 100%;
    background-color: var(--primary);
    background-image: url(../assets/img/bg-snow.png), url(../assets/img/bg-ball.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center, center;
}

.hero-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin: 0 auto;
    padding: 60px 0;
    max-width: 430px;
    text-align: center;
    color: var(--static-white);
    transition: width 0.3s ease;

    /*@media (max-width: 767px) {*/
    /*    max-width: 364px;*/
    /*}*/
}

.hero__paragraph {
    display: block;
}

.hero__button {
    letter-spacing: 0.09em;
}
/* Hero end*/

/* About start*/
.about-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 60px 8px;
    background-color: var(--primary);
    background-image: url(../assets/img/bg-snow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
    border-radius: 20px;
    background: var(--static-white);
    transition: width 0.3s ease;

    /*@media (768px <= width < 1440px) {*/
    /*    max-width: 752px;*/
    /*}*/

    /*@media (max-width: 767px) {*/
    /*        align-items: flex-start;*/
    /*        justify-content: center;*/
    /*        flex-direction: column;*/
    /*    max-width: 364px;*/
    /*}*/
}

.about-element {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin: 0 60px;
    padding: 60px 0;
    max-width: 426px;

    /*@media (768px <= width < 1440px) {*/
    /*    max-width: 256px;*/
    /*}*/

    /*@media (max-width: 767px) {*/
    /*      margin: 0px 20px;*/
    /*    max-width: 364px;*/
    /*}*/
}

.about-element__caption {
    display: block;
    color: var(--primary);
}

.about-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 638px;
    overflow: hidden;

    /*@media (768px <= width < 1440px) {*/
    /*    max-width: 376px;*/
    /*}*/

    /*@media (max-width: 767px) {*/
    /*    max-width: 364px;*/
    /*}*/
}

.about-picture__img {
    display: block;
}
/* About end*/

/* Slider start*/ /* Best gifts start*/
.slider-section,
.best-gifts-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 60px 8px;
    background-color: var(--primary);
    background-image: url(../assets/img/bg-snow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--static-white);
    overflow: hidden;
}

.slider-section-wrapper,
.best-gifts-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.slider__header,
.best-gifts__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
}

.slider-header-caption,
.best-gifts__caption {
    display: block;
}

.slider__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    overflow: visible;
}

.slider__text {
    font-size: 80px;
    text-transform: uppercase;
    padding-left: 1px;
}

.slider__picture {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.slider__img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.slider__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
    flex-direction: row;
    gap: 20px;
}

.best-gifts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 12px;
    justify-content: center;
    align-items: start;

    /*@media (768px <= width < 1440px) {*/
    /*    grid-template-columns: repeat(2, 1fr);*/
    /*    grid-template-rows: repeat(2, 1fr);*/
    /*}*/

    /*@media (max-width: 767px) {*/
    /*    grid-template-columns: 1fr;*/
    /*    grid-template-rows: repeat(4, 1fr);*/
    /*}*/
}
/* Slider end*/ /* Best gifts end*/

/* CTA start*/
/* CTA end*/
/* Footer start*/
/* Footer end*/
