
.hero-section {
    position: relative;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    border-radius: 20px 20px 0 0;
    padding: 60px 8px;
    width: 100%;
    min-height: 524px;
    background-color: var(--primary);
    background-image: url(../assets/img/bg-snow.png), url(../assets/img/bg-ball.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center, center;
    transition: width 0.3s ease;
}
.hero-element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin: 0 auto;
    padding: 60px 0px;
    max-width: 430px;
    min-height: 404px;
    text-align: center;
    color: var(--static-white);
    @media (max-width: 767px) {
        max-width: 364px;
    }
}

.hero-element__paragraph {
    display: block;
}

.hero-element__button {
    letter-spacing: 0.09em;
}

