/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* main */


/*color     */
:root {
    --color-light-xl: #fff;
    --color-light-l: #f6f6f6;
    --color-light-s: #fafafa;
    --color-dark-s: #cdcdcd;
    --color-dark-m: #b2b2b2;
    --color-dark-l: #545454;
    --color-dark-xl: #4c4c4c;
    --color-dark-2xl: #444;
    --color-dark-3xl: #292929;
    --color-primary: #f1cdb3;
    --color-primary-light: #fddcc4;
    --logo-title: 32px;
    --logo-subtitle: 13px;
    /*fonts   */
    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
    --third-family: "Inter", sans-serif;
}

h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-light-xl);

}

h3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
}

h5 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);

}

.paragraph-l {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

.paragraph-s {
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-dark-m);
}

.header__navigation {
    display: flex;
    justify-content: flex-end;
}

.button-oval {
    border-radius: 100px;
    padding: 15px 45px;
    height: 52px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    text-align: center;
}

.button-primary {
    background: var(--color-primary);
    transition: background-color 0.3s ease, border-color 0.3s ease, cursor 0.3s ease;
}

.button-primary:hover {
    background: var(--color-primary-light);
    cursor: pointer;
}

.button-secondary {
    border: 2px solid var(--color-primary);
    background: none;
    transition: background-color 0.3s ease, cursor 0.3s ease;
}

.button-secondary:hover {
    background: var(--color-primary-light);
    cursor: pointer;
}

.button-round {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-3xl);
    border: 2px solid var(--color-primary);
    background-color: transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease, cursor 0.3s ease;
}

.button-round:hover {
    border: none;
    background-color: var(--color-primary-light);
    cursor: pointer;
}

.button-round:active,
.button-round.inactive
{
    border: none;
    background-color: var(--color-primary);
}

.button-round.disabled {
    color: var(--color-dark-s);
    border: 2px solid var(--color-dark-s);
    background-color: transparent;
}

.button-arrow-left::before {
    content: "\2190";
}

.button-arrow-right::before {
    content: "\2192";
}

.button-make-friend:after {
     content: "Make a friend";
 }

.button-learn-more:after {
    content: "Learn more";
}

.button-get-to-know:after {
    content: "Get to know the rest";
}

.card {
    border-radius: 9px;
    padding: 30px 35px;
    width: 270px;
    height: 435px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background: var(--color-light-s);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
    transition: transform 0.5s ease, cursor 0.3s ease;
}

.card-image {
    border-radius: 9px 9px 0 0;
    width: 270px;
    height: 270px;
}

.card-title {
    height: 23px;
}

.card:hover {
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;
}

/*

.list-item-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000;
}

.list-item-dot {
    border-radius: 100%;
    fill: var(--color-primary);
<svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="2" cy="2" r="2" fill="#F1CDB3" />
</svg>
}

.navigation_max-width-768 {
    width: 300px;
    height: 52px;
}

.modal-window-1280 {
    width: 952px;
    height: 552px;
    background: none;
}

.modal-window {
    width: 900px;
    height: 500px;
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: var(--color-light-s);
}

.modal-window_pets {
    border-radius: 9px 0 0 9px;
    width: 500px;
    height: 500px;
    background: url("path_to_image");

}

.modal-window_content {
    width: 351px;
    height: 362px;
}*/



