/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* main */


/*color     */
:root {
    --color-light-xl: #fff;
    --color-light-l: #f6f6f6;
    --color-light-s: #fafafa;
    --color-dark-s: #cdcdcd;
    --color-dark-m: #b2b2b2;
    --color-dark-l: #545454;
    --color-dark-xl: #4c4c4c;
    --color-dark-2xl: #444;
    --color-dark-3xl: #292929;
    --color-primary: #f1cdb3;
    --color-primary-light: #fddcc4;
    --start-screen-gradient-background: linear-gradient(0deg, #211F20, #211F20);
    --card-hover: 0px 2px 35px 14px rgba(13,13,13,0);
    --h2: 44px;
    --h3: 35px;
    --h3-mobile: 25px;
    --h4: 20px;
    --h5: 15px;
    --h5-modal-window: 15px;
    --paragraph-l: 15px;
    --paragraph-s: 12px;
    --paragraph-mobile-menu: 32px;
    --logo-title: 32px;
    --logo-subtitle: 13px;
    /*fonts   */
    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
    --third-family: "Inter", sans-serif;
}
/* fonts styles*/
.section-start-scree {
    /* background-color: var(--start-screen-gradient-background);*/
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #d9d9d9; /* Solid color background */
    background-image:
            var(--start-screen-gradient-background),
            linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url("../assets/img/_noise_transparent.png");
}

.logo-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

.logo-subtitle {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: var(--color-light-xl);
}

.h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: var(--h2);
    line-height: 130%;
    color: var(--color-dark-l);
}

.h3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: var(--h3);
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: var(--h4);
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);

}

.h5 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: var(--h5);
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);

}

.paragraph-l {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: var(--paragraph-l);
    line-height: 160%;
    color: var(--color-dark-xl);
}

.paragraph-s {
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 400;
    font-size: var(--paragraph-s);
    line-height: 150%;
    color: var(--color-dark-m);
}
.paragraph-mobile-menu {
    font-size: var(--paragraph-mobile-menu);
    line-height: 0.05;
    font-weight: 400;
}

.list-item-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000;
}
.list-item-dot {
    border-radius: 100%;
    fill: var(--color-primary);
<svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="2" cy="2" r="2" fill="#F1CDB3" />
</svg>
}

.link {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

.link_normal {
    color: var(--color-dark-s);
}

.link_active {
    color: var(--color-light-s);
    background: var(--color-primary);
}

.link_hover {
    color: var(--color-light-s);
}

.link-rectangle {
    width: 462px;
    height: 44px;
    background: var(--color-light-xl);
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

.link-rectangle_normal {
    color: var(--color-dark-l);

}

.link-rectangle_active {
    color: var(--color-dark-l);
}

.link-rectangle_hover {
    color: var(--color-dark-3xl);
}


.card {
    border-radius: 9px;
    padding: 30px 35px;
    width: 270px;
    height: 435px;
    background: var(--color-light-s);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
}

.card_picture {
    border-radius: 9px 9px 0 0;
    width: 270px;
    height: 270px;
    /*background: url("path_to_image");*/
}

.card_hover {
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: none;
}

.modal_close_button-hover {
    border-radius: 100px;
    fill: var(--color-primary-light);
<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="52" height="52" rx="26" fill="#FDDCC4" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M27.4262 26L31.7046 21.7216C32.0985 21.3277 32.0985 20.6892 31.7046 20.2954C31.3108 19.9016 30.6723 19.9016 30.2785 20.2954L26 24.5739L21.7215 20.2954C21.3276 19.9015 20.6892 19.9015 20.2953 20.2954C19.9016 20.6892 19.9016 21.3277 20.2953 21.7215L24.5738 26L20.2953 30.2785C19.9016 30.6723 19.9016 31.3108 20.2953 31.7046C20.6892 32.0985 21.3276 32.0985 21.7215 31.7046L26 27.4261L30.2785 31.7046C30.6723 32.0985 31.3108 32.0985 31.7046 31.7046C32.0985 31.3108 32.0985 30.6723 31.7046 30.2785L27.4262 26Z" fill="#292929" />
</svg>
}

.modal_close_button-hover_vector {
    fill: var(--color-dark-3xl);
<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M7.42618 6.00003L11.7046 1.72158C12.0985 1.32775 12.0985 0.689213 11.7046 0.295433C11.3108 -0.0984027 10.6723 -0.0984027 10.2785 0.295433L5.99998 4.57394L1.72148 0.295377C1.32765 -0.098459 0.68917 -0.098459 0.295334 0.295377C-0.0984448 0.689213 -0.0984448 1.32775 0.295334 1.72153L4.57383 5.99997L0.295334 10.2785C-0.0984448 10.6723 -0.0984448 11.3108 0.295334 11.7046C0.68917 12.0985 1.32765 12.0985 1.72148 11.7046L5.99998 7.42612L10.2785 11.7046C10.6723 12.0985 11.3108 12.0985 11.7046 11.7046C12.0985 11.3108 12.0985 10.6723 11.7046 10.2785L7.42618 6.00003Z" fill="#292929" />
</svg>
}

.modal_close_button {
    border-radius: 100px;
    border: 2px solid var(--color-primary);
<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1" y="1" width="50" height="50" rx="25" stroke="#F1CDB3" stroke-width="2" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M27.4262 26L31.7046 21.7216C32.0985 21.3277 32.0985 20.6892 31.7046 20.2954C31.3108 19.9016 30.6723 19.9016 30.2785 20.2954L26 24.5739L21.7215 20.2954C21.3276 19.9015 20.6892 19.9015 20.2953 20.2954C19.9016 20.6892 19.9016 21.3277 20.2953 21.7215L24.5738 26L20.2953 30.2785C19.9016 30.6723 19.9016 31.3108 20.2953 31.7046C20.6892 32.0985 21.3276 32.0985 21.7215 31.7046L26 27.4261L30.2785 31.7046C30.6723 32.0985 31.3108 32.0985 31.7046 31.7046C32.0985 31.3108 32.0985 30.6723 31.7046 30.2785L27.4262 26Z" fill="#292929" />
</svg>
}

.modal_close_button_vector {
    fill: var(--color-dark-3xl);
<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<    path fill-rule="evenodd" clip-rule="evenodd" d="M7.42618 6.00003L11.7046 1.72158C12.0985 1.32775 12.0985 0.689213 11.7046 0.295433C11.3108 -0.0984027 10.6723 -0.0984027 10.2785 0.295433L5.99998 4.57394L1.72148 0.295377C1.32765 -0.098459 0.68917 -0.098459 0.295334 0.295377C-0.0984448 0.689213 -0.0984448 1.32775 0.295334 1.72153L4.57383 5.99997L0.295334 10.2785C-0.0984448 10.6723 -0.0984448 11.3108 0.295334 11.7046C0.68917 12.0985 1.32765 12.0985 1.72148 11.7046L5.99998 7.42612L10.2785 11.7046C10.6723 12.0985 11.3108 12.0985 11.7046 11.7046C12.0985 11.3108 12.0985 10.6723 11.7046 10.2785L7.42618 6.00003Z" fill="#292929" />
</svg>
}

.navigation_max-width-768 {
    width: 300px;
    height: 52px;
}

.button_round {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    padding: 14px 21px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
}

.button_paginator_inactive {
    border: 2px solid var(--color-dark-s);
    background: none;
    color: var(--color-dark-s);
}

.button_paginator_active {
    background: var(--color-primary);
    color: var(--color-dark-3xl);
}

.button_paginator {
    border: 2px solid var(--color-primary);
    color: var(--color-dark-3xl);
}

.button_paginator_hover {
    background: var(--color-primary-light);
    color: var(--color-dark-3xl);
}

.button_arrow_hover {
    fill: var(--color-primary-light);
<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="52" height="52" rx="26" fill="#FDDCC4" />
<path d="M33 25V27H22V29L19 26L22 23V25H33Z" fill="#292929" />
</svg>
}
.button_arrow_hover_text {
    fill: var(--color-dark-3xl);
<svg width="14" height="6" viewBox="0 0 14 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14 2V4H3V6L0 3L3 0V2H14Z" fill="#292929" />
</svg>
}

.button_arrow_inactive {
    border: 2px solid var(--color-dark-s);
<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1" y="1" width="50" height="50" rx="25" stroke="#CDCDCD" stroke-width="2" />
<path d="M33 25V27H22V29L19 26L22 23V25H33Z" fill="#CDCDCD" />
</svg>
}

.button_arrow_inactive_text {
    fill: var(--color-dark-s);
<svg width="14" height="6" viewBox="0 0 14 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14 2V4H3V6L0 3L3 0V2H14Z" fill="#CDCDCD" />
</svg>
}

.button_arrow {
    border-radius: 100px;
    border: 2px solid var(--color-primary);
<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1" y="1" width="50" height="50" rx="25" stroke="#F1CDB3" stroke-width="2" />
<path d="M33 25V27H22V29L19 26L22 23V25H33Z" fill="#292929" />
</svg>
}

.button_arrow_text {
    fill: var(--color-dark-3xl);
<svg width="14" height="6" viewBox="0 0 14 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14 2V4H3V6L0 3L3 0V2H14Z" fill="#292929" />
</svg>
}

.modal_close_button {
<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1" y="1" width="50" height="50" rx="25" stroke="#F1CDB3" stroke-width="2" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M27.4262 26L31.7046 21.7216C32.0985 21.3277 32.0985 20.6892 31.7046 20.2954C31.3108 19.9016 30.6723 19.9016 30.2785 20.2954L26 24.5739L21.7215 20.2954C21.3276 19.9015 20.6892 19.9015 20.2953 20.2954C19.9016 20.6892 19.9016 21.3277 20.2953 21.7215L24.5738 26L20.2953 30.2785C19.9016 30.6723 19.9016 31.3108 20.2953 31.7046C20.6892 32.0985 21.3276 32.0985 21.7215 31.7046L26 27.4261L30.2785 31.7046C30.6723 32.0985 31.3108 32.0985 31.7046 31.7046C32.0985 31.3108 32.0985 30.6723 31.7046 30.2785L27.4262 26Z" fill="#292929" />
</svg>
}
.modal_close_button_hover {
    fill: var(--color-primary-light);
<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="52" height="52" rx="26" fill="#FDDCC4" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M27.4262 26L31.7046 21.7216C32.0985 21.3277 32.0985 20.6892 31.7046 20.2954C31.3108 19.9016 30.6723 19.9016 30.2785 20.2954L26 24.5739L21.7215 20.2954C21.3276 19.9015 20.6892 19.9015 20.2953 20.2954C19.9016 20.6892 19.9016 21.3277 20.2953 21.7215L24.5738 26L20.2953 30.2785C19.9016 30.6723 19.9016 31.3108 20.2953 31.7046C20.6892 32.0985 21.3276 32.0985 21.7215 31.7046L26 27.4261L30.2785 31.7046C30.6723 32.0985 31.3108 32.0985 31.7046 31.7046C32.0985 31.3108 32.0985 30.6723 31.7046 30.2785L27.4262 26Z" fill="#292929" />
</svg>
}

.modal_close_button_vector {
    fill: var(--color-dark-3xl);
<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M7.42618 6.00003L11.7046 1.72158C12.0985 1.32775 12.0985 0.689213 11.7046 0.295433C11.3108 -0.0984027 10.6723 -0.0984027 10.2785 0.295433L5.99998 4.57394L1.72148 0.295377C1.32765 -0.098459 0.68917 -0.098459 0.295334 0.295377C-0.0984448 0.689213 -0.0984448 1.32775 0.295334 1.72153L4.57383 5.99997L0.295334 10.2785C-0.0984448 10.6723 -0.0984448 11.3108 0.295334 11.7046C0.68917 12.0985 1.32765 12.0985 1.72148 11.7046L5.99998 7.42612L10.2785 11.7046C10.6723 12.0985 11.3108 12.0985 11.7046 11.7046C12.0985 11.3108 12.0985 10.6723 11.7046 10.2785L7.42618 6.00003Z" fill="#292929" />
</svg>
}

.button_oval {
    border-radius: 100px;
    padding: 15px 45px;
    width: 207px;
    height: 52px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
}

.button_primary {
    background: var(--color-primary);
}

.button_primary_hover {
    background: var(--color-primary-light);
}

.button_secondary {
    border: 2px solid var(--color-primary);
    background: none;
}

.button_secondary_hover {
    background: var(--color-primary-light);
}

.modal-window-1280 {
    width: 952px;
    height: 552px;
    background: none;
}

.modal-window {
    width: 900px;
    height: 500px;
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: var(--color-light-s);
}

.modal-window_pets {
    border-radius: 9px 0 0 9px;
    width: 500px;
    height: 500px;
    /* background: url("path_to_image");*/

}

.modal-window_content {
    width: 351px;
    height: 362px;
}



