/*color     */

* {
    box-sizing: border-box;
    border: none;
   /* border: 1px solid red;*/
}
html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    /* font use */
}

.container {

    max-width: 1280px;
    margin: 0 auto;
}

.start-screen-container {
    height: 908px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image:
         url("../assets/img/__start-screen-background.png");
}

.start-screen-container-header {
    height: 60px;
    margin: 30px 40px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}
.start-screen-container-content {
    height: 728px;
    margin: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.start-screen-container-header__item {
    flex: 1;
}

.start-screen-container-header__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}


.start-screen-container-header__logo-title {
    height: 35px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    margin: 0 0 10px;
}

.start-screen__button {
    width: 207px;
}

.start-screen-container-header__logo-subtitle {
    height: 15px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: var(--color-light-xl);
    margin: 0;
}

.start-screen-container-content__not-only {
    width: 460px;
    height: 322px;
}

.start-screen-container-content__not-only-header{
    width: 310px;
    height: 114px;
}

.start-screen-container-content__not-only-text{
    margin-top: 42px;
    margin-bottom: 42px;
    color: var(--color-dark-s);
}

.start-screen-container-content__puppy {
    width: 698px;
    height: 728px;
}

.start-screen-container-header__link {
    color: var(--color-dark-s);
 }

.start-screen-container-header__link:active {
    color: var(--color-light-s);
}

.start-screen-container-header__link:hover {
    color: var(--color-light-s);
}

.section-about {
    height: 588px;
    background: var(--color-light-xl);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-about_wrapper {
    width: 1200px;
    height: 408px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.section-about__image {
    width: 300px;
    height: 408px;
    margin-left: 175px;
    margin-right: 120px;
}

.section-about__content {
    width: 430px;
    height: 380px;
}

.section-about__header {
    width: 370px;
    height: 90px;
    margin-bottom: 25px;
}
.section-about__header-text {
    width: 430px;
    margin-bottom: 25px;
    color: var(--color-dark-xl);
}

.section-our-friends {
    height: 877px;
    background: var(--color-light-l);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-our-friends_wrapper {
    width: 1200px;
    height: 697px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-our-friends__header {
    width: 400px;
    height: 90px;
    text-align: center;
}

.section-our-friends__slider {
    width: 1200px;
    height: 435px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.5s ease;
}

.section-help {
    height: 611px;
    background: var(--color-light-xl);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-help_wrapper {
    width: 1200px;
    height: 431px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-help_wrapper__header {
    width: 400px;
    height: 90px;
    text-align: center;
}


.section-help_wrapper__list {
    width: 1026px;
    height: 281px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-about_wrapper__list-row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}

.section-about_wrapper__list-row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 120px;
}

.section-help_wrapper__list-item {
    width: auto;
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.help-list-picture {
    width: 60px;
    height: 60px;
}

.donation {
    height: 462px;
    background: var(--color-light-l);
}

.donation-container {
    width: 915px;
    height: 282px;
}

.donation-dog {
    width: 505px;
    height: 261px;
}

.donation-content {
    width: 380px;
    height: 282px;
}

.container-footer {
    height: 350px;
    font-family: var(--font-family);
    font-weight: 400;
    letter-spacing: 0.06em;

}
.container-footer-content {
    width: 278px;
    height: 234px;
}

.container-footer-title {
    font-size: 35px;
    line-height: 130%;
    color: var(--color-light-xl);
}
.container-footer-text {
    font-size: 20px;
    line-height: 115%;
    color: var(--color-primary);

}


.container-footer-location {
    width: 302px;
    height: 234px;
}

.container-footer-puppy {
    width: 300px;
    height: 310px;
}
