/*color     */

* {
    box-sizing: border-box;
    border: none;
    /*border: 1px solid red;*/
}
html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    /* font use */
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.start-screen-container {
    height: 908px;
    background-color: transparent; /* Гэта робіць ніжні слой празрыстым */
    background-image:
            var(--start-screen-gradient-background),
            radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%),
            url("../assets/img/_noise_transparent.png");

}

.header {
    height: 60px;
}

.start-screen-content {
    width: 460px;
    height: 322px;
}

.start-screen-puppy {
    width: 698px;
    height: 728px;
}

.about {
    height: 588px;
    background: var(--color-light-xl);
}

.about-pets-container {
    width: 300px;
    height: 408px;
    /*background: url("path_to_image");*/
}
.about-content {
    width: 430px;
    height: 380px;
}

.pets {
    height: 877px;
    background: var(--color-light-l);

}
.pets-slider {
    width: 1200px;
    height: 435px;
}

.pets-button {
    width: 261px;
}

.help {
    height: 611px;
    background: var(--color-light-xl);
}

.help-container {
    width: 1200px;
    height: 431px;
}

.help-list {
    width: 1026px;
    height: 281px;
}

.help-list-item {
    width: 82px;
    height: 113px;
}

.help-list-picture {
    width: 60px;
    height: 60px;
}

.donation {
    height: 462px;
    background: var(--color-light-l);
}

.donation-container {
    width: 915px;
    height: 282px;
}

.donation-dog {
    width: 505px;
    height: 261px;
}

.donation-content {
    width: 380px;
    height: 282px;
}

.container-footer {
    height: 350px;
    font-family: var(--font-family);
    font-weight: 400;
    letter-spacing: 0.06em;

}
.container-footer-content {
    width: 278px;
    height: 234px;
}

.container-footer-title {
    font-size: 35px;
    line-height: 130%;
    color: var(--color-light-xl);
}
.container-footer-text {
    font-size: 20px;
    line-height: 115%;
    color: var(--color-primary);

}


.container-footer-location {
    width: 302px;
    height: 234px;
}

.container-footer-puppy {
    width: 300px;
    height: 310px;
}
