.search-bar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid var(--chat-border-color);
}

.search-input-wrapper {
    width: 100%;
    flex-grow: 1;
    padding: 0.5rem;
}

.search-input {
    width: 100%;
    border: 1px solid var(--chat-border-color);
    border-radius: 4px;
}

.clear-search-button {
    margin-left: 0.5rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--dark-gray);
}

@media (max-width: 600px) {
    .search-bar,
    .search-input {
        padding: 0.25rem;
    }
    .search-input {
        font-size: clamp(0.75rem, 2.7vw, 1rem);
    }
    .clear-search-button {
        margin-left: 0.25rem;
        font-size: clamp(0.9rem, 4.1vw, 1.5rem);
    }
}

@media (max-width: 380px) {
    .clear-search-button {
        margin-left: 2px;
    }
}